.category-page {
  padding: 20px;
  font-family: var(--font-family);
  background-color: var(--background-color);
  min-height: 100vh;
}

.category-title {
  font-size: 2rem;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 20px;
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.product-card {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.product-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 10px;
  /* border: 2px solid var(--primary-color); */
}

.product-info {
  flex-grow: 1;
}

.product-name {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-bottom: 5px;
}

.product-price {
  font-size: 1rem;
  color: var(--text-secondary-color);
}

.product-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-btn,
.add-to-cart-btn {
  padding: 5px 10px;
  font-size: 0.9rem;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}



.quantity {
  font-size: 1rem;
  color: var(--text-color);
}
