.footer-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 10px;
  }
  
  .footer-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: (--font-family); 
    font-size: 0.8rem;
    transition: color 0.3s ease-in-out;
    letter-spacing: 1px;
    width: 100%;
    padding: 5px;
  }

  
  .footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .footer-link.active {
    color: rgb(0, 0, 0);
    width: 100%;
    font-weight: bolder; /* Optional: Add bold text for the active link */
    background: #e7e6e650;
    border-radius: 10px;
  }